@import url("https://fonts.googleapis.com/css?family=Nunito");
.App {
  font-family: "Nunito", sans-serif;
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.rangeslider-horizontal {
  height: 5px !important;
  width: 200px !important;
  border-radius: 10px;
}

.rangeslider-horizontal .rangeslider__handle {
  width: 15px !important;
  height: 16px !important;
  border-radius: 10px !important;
  top: 50%;
  background-color: #a6a09b !important;
  transform: translate3d(-50%, -50%, 0);
}

.rangeslider-horizontal .rangeslider__handle:after {
  content: " ";
  position: absolute;
  width: 15px !important;
  height: 16px !important;
  top: -1px !important;
  left: -1px !important;
  border-radius: 50%;
  background-color: #85817d !important;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4) inset,
    0 -1px 3px rgba(0, 0, 0, 0.4) inset;
}

.rangeslider-horizontal .rangeslider__fill {
  height: 100%;
  background-color: #4e4640 !important;
  border-radius: 10px;
  top: 0;
}
.App-header {
  background-color: #4e4640;
  min-height: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
